# LLM Providers Configuration
# Add the api keys for the providers you want to use.

# Groq API Key
GROQ_API_KEY=your_groq_api_key_here

# Anthropic API Key
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Nvidia API Key
NVIDIA_API_KEY=your_nvidia_api_key_here

# Active Provider configuration (used by llm.py factory)
ACTIVE_PROVIDER=groq
ACTIVE_MODEL=llama3-70b-8192
